version: "3.9"

services:
  minio:
    image: minio/minio:latest
    restart: always
    command: server /data
    ports:
      - "9000:9000"
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: password

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - minio
